@import "~node.normalize.scss/_normalize.scss";

$cheese-yellow: #e7e0a3;
$light-black: #444138;
$black: #464646;
$deep-black: #2e2e2e;
$light-brown: #aea178;
$brown: #a49870;
$milk-color: #eae9e9;
$white: #f4f5f5;
$gap: 15px;
$button-width: 2.5vw;
$left-bottom-shadow: 1px 1px 3px 0px $deep-black;
$bottom-shadow: 0px 5px 5px 3px $deep-black;
$min-width: 1440px;

.hidden {
  display: none;
}

html, body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  min-width: $min-width;

  #viewport {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: $cheese-yellow;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    perspective: 500px;

    .floor {
      width: 100%;
      height: 100%;
      display: block;
      transform-origin: center bottom;
      transform-style: preserve-3d;
      position: absolute;
      z-index: -2;
      background-color: darken($cheese-yellow, 20%);
      transform: rotateX(90deg) scale(2);
      bottom: 0;
    }

    .vintage-tv {
      border-radius: 5px;
      padding: $gap;
      background-color: $black;
      position: relative;
      width: 23vw;
      min-width: .23 * $min-width;
      height: 16vw;
      min-height: .16 * $min-width;
      box-shadow: $bottom-shadow;
      //transform: translateZ(200px);

      .tv {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-rows: 50.1% 1fr;
        grid-template-columns: 73% 1fr;
        grid-template-areas: "screen control-1" "screen control-2";
        grid-gap: $gap $gap;
        position: relative;

        .screen {
          grid-area: screen;
          border-radius: 3px;
          box-shadow: inset 0 0 20px 0 rgba(0, 0, 0, .5), inset 0 0 100px 0 rgba(0, 0, 0, .56),
          inset 0 -90px 100px 0 rgba(0, 0, 0, .23), inset 0 90px 100px 0 rgba(255, 255, 255, .08),
          0 0 0 1px rgba(0, 0, 0, .43);
          width: 100%;
          height: 100%;
          background-color: $deep-black;
          background-size: 100% 100%;
          background-repeat: no-repeat;
          position: relative;

          .canvas {
            position: absolute;
            width: 100%;
            height: 100%;
          }
        }

        .controls-1,
        .controls-2 {
          border-radius: 2px;
          height: 100%;
          background-color: $brown;
          box-shadow: $left-bottom-shadow;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
        }

        .controls-1 {
          grid-area: control-1;

          .button {
            $min-btn-width: 0.025 * $min-width;
            height: $button-width;
            min-height: $min-btn-width;
            width: $button-width;
            min-width: $min-btn-width;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $white;
            border-radius: 50%;
            box-shadow: $left-bottom-shadow, inset -1px -1px 0px 1px $cheese-yellow;

            &:after {
              content: "";
              display: inline-block;
              height: 100%;
              width: 30%;
              background-color: $milk-color;
              transform: translateY(-1px) rotate(50deg);
              border-radius: 2px;
              box-shadow: $left-bottom-shadow;
            }
          }
        }

        .controls-2 {
          grid-area: control-2;
          position: relative;

          &:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-image: linear-gradient(lighten($brown, 5%) 0, lighten($brown, 5%) 33%, transparent 33%, transparent 100%);
            background-size: 100% 3px;
            background-repeat: repeat-y;
          }

          &:after {
            content: "";
            height: 75%;
            width: 55%;
            border-radius: 50%;
            background-color: $deep-black;
            box-shadow: inset 0 0 2px 0 $cheese-yellow;
          }
        }
      }

      .antenna {
        &:before {
          transform: rotate(-15deg);
          transform-origin: center bottom;
          content: " ";
          position: absolute;
          display: block;
          background: $black;
          width: 2px;
          height: 43.75%;
          min-height: 0.07 * $min-width;
          top: calc(-1 * (2px + 43.75%));
          left: 13.043478260869565%;
        }

        &:after {
          transform: rotate(35deg);
          transform-origin: center bottom;
          content: " ";
          position: absolute;
          display: block;
          background: #464646;
          width: 2px;
          height: 43.75%;
          min-height: 0.05 * $min-width;
          top: calc(-1 * (2px + 43.75%));
          left: 13.043478260869565%;
        }
      }
      /** antenna box **/
      .antenna-box {
        border-radius: 2px 2px 0 0;
        content: " ";
        position: absolute;
        display: block;
        background: $black;
        width: 5vw;
        min-width: 0.05 * $min-width;
        height: 3px;
        top: -3px;
        left: 4.3478260869565216%;
      }
      /** antenna base **/
      .antenna-base {
        border-radius: 2px 2px 0 0;
        content: " ";
        position: absolute;
        display: block;
        background: $black;
        width: 3vw;
        min-width: 0.03*$min-width;
        height: 4px;
        top: -7px;
        left: 8.695652173913043%;
      }

      /** tv shadow **/
      &:after {
        content: "";
        height: 50px;
        width: 90%;
        position: absolute;
        bottom: -30px;
        left: -1%;
        right: 0;
        margin: auto;
        border-radius: 50%;
        z-index: -1;
        background-color: #2e2e2e;
        box-shadow: 0 0 34px 25px #2e2e2e;
        transform: rotateX(96deg);
        transform-style: preserve-3d;
      }
    }

    .controller {
      width: 190px;
      height: 320px;
      background-color: #000;
      background-image: linear-gradient(90deg, #131313 0, #111111 0, #1c1c1c 0, #666666 8%, #a59393 50%, #595959 92%, #000000 100%, #4c4c4c 100%);
      border: 1px solid transparent;
      border-radius: 10px;
      box-shadow: 3px 3px 10px #222;
      padding: 30px;
      font-family: sans-serif;
      color: #eee;
      position: absolute;
      bottom: 5px;
      transform: rotateX(70deg);

      .controls {
        position: relative;
      }
      .display {
        clear: both;
        width: 100%;
        height: 20px;
        padding: 10px 0;
        background: #222;
        box-shadow: inset 2px 0 11px #000;
        border-radius: 5px 5px 0;
        text-align: center;
        color: #48D1CC;
        font-size: 12px;
        text-shadow: 0 0 5px #FFFACD;
        font-family: monospace;
        text-transform: uppercase;
        letter-spacing: 2px;
        line-height: 18px;
      }
      .button {
        float: left;
        margin: 10px 10px 20px;
        background: #303131;
        width: 40px;
        height: 40px;
        border-radius: 30px;
        border: 1px solid #000;
        text-align: center;
        position: relative;
        box-shadow: 0 0 5px #000, inset 0 0 20px #000;
      }

      .button:hover,
      .button.active {
        box-shadow: 0 0 1px #000, inset 0 0 9px #000;
      }

      ins > span {
        position: absolute;
        font-size: 9px;
        left: 0;
        top: -20px;
        width: 34px;
        color: #fff;
        font-weight: bold;
        padding: 3px;
        text-align: center;
        text-transform: uppercase;
      }

      .red {
        background: red !important;
      }

      .blue {
        background: azure !important;
      }
    }
  }
}

.ch {
  background-clip: border-box;
  background-size: cover;
  background-repeat: no-repeat;
}

.ch-1 {
  background-image: url("../statics/daily_show.webp");
}

.ch-2 {
  background-image: url("../statics/fishing.webp");
}

.ch-3 {
  background-image: url("../statics/honest_trailer.webp");
}

.ch-4 {
  background-image: url("../statics/lost_in_space.webp");
}